polkit.addRule(function(action, subject) {
    if (action.id == "com.kaiko.updater.install" && subject.isInGroup("kaiko-operators")) {
        return polkit.Result.YES;
    }
});
