[Desktop Entry]
Name=Silkworm Observer
Exec=/usr/bin/silkworm-observer
Icon=silkworm-observer
Type=Application
Categories=Science;Utility;
Terminal=false
